
<div id="encrypted">
    <h3> {{ site.theme_config.encrypt_title | default : 'Content is Encrypted'}} </h3>
   
    <input style="width:100%; " type="password" id="passwordinput" placeholder="输入密码"></input>
    <p>
        <input type="button" value= "{{ site.theme_config.decrypt_btn | default : 'Decrypt' }}" id="DecryptBtn"/>
        <input type="button" value= "{{ site.theme_config.encrypt_clear_btn | default: 'Clear password cache' }}" id="ClearBtn1"/>
    
    </div>
    
    <div id="decrypted"  style = "display:none">
        <p>
        <div>
           
            <input type="button" value= "{{ site.theme_config.encrypt_btn | default: 'Encrypt' }}" id="EncryptBtn"/>

            <input type="button" value= "{{ site.theme_config.encrypt_clear_btn | default: 'Clear password cache' }}" id="ClearBtn2"/>
           
        </div>
        <div id = 'decryptContent'>
        </div>
    </div>
    <script src="//cdn.jsdelivr.net/gh/vitock/jsdelivr@0.1.1/js/salsa20.min.js"></script>
    <script src="//cdn.jsdelivr.net/gh/vitock/jsdelivr@0.1.1/js/base64.js"></script>
    <script src="//cdn.jsdelivr.net/gh/vitock/jsdelivr@0.1.1/js/md5.js"></script>
    <script>
        !function(){
        const preFix = '{{encid}}';
        const encid = preFix
        var encryptedContent = '{{ content | encrypt_content:page, encid}}'
        const nonceStr = encryptedContent.substring(0,16);
        const msg = encryptedContent.substring(17)
    
        function hexToUint8Arr(hexString){
            return new Uint8Array(hexString.match(/.{1,2}/g).map(byte => parseInt(byte, 16)));
        }


        function decrypt (key0,isCached){
            // const key = Uint8Array([...]); // 32 bytes key
            
            var key  = ''
            var keyDgst = ""
            if(isCached){
                keyDgst= key0
                key = new TextEncoder("utf-8").encode(keyDgst);
            }
            else{
                var keyS = preFix + key0 +  preFix
                keyDgst = md5(keyS)
                key = new TextEncoder("utf-8").encode(keyDgst);
            }
            var nonce = hexToUint8Arr(nonceStr)
    
            
            const message = Base64.toUint8Array(msg)
            // Encrypt //
            const decrypt = new JSSalsa20(key, nonce).decrypt(message);
            var plain = new TextDecoder("utf-8").decode(decrypt)
            var check = md5(plain)
            if(check.indexOf(nonceStr) == 0){
                setKey(keyDgst)
                /// hide input
                document.getElementById("encrypted").style.display = 'none'
                // / show decrypted 
    
                document.getElementById("decrypted").style.display = 'block'
                document.getElementById("decryptContent").innerHTML = plain
    
                setTimeout(function(){
                    var loadevent = document.createEvent("Event")
                    loadevent.initEvent("load", true, true)
    
                    var DOMContentLoaded_event = document.createEvent("Event")
                    DOMContentLoaded_event.initEvent("DOMContentLoaded", true, true)
    
                    window.dispatchEvent(loadevent)
                    window.dispatchEvent(DOMContentLoaded_event)
                    console.log('333a334a')
    
                }, 500);
                
            }else{
                alert("wrong password.")
            }   
        }
        
        document.getElementById("DecryptBtn").onclick = function(){
            var key = document.getElementById("passwordinput").value
            decrypt(key);        
        }
    
        document.getElementById("EncryptBtn").onclick = function(){
            /// hide input
            document.getElementById("encrypted").style.display = 'block'
            // / show decrypted 
            document.getElementById("decrypted").style.display = "none"
    
            clearKey()
        }

        document.getElementById("EncryptBtn").onclick = function(){
            /// hide input
            document.getElementById("encrypted").style.display = 'block'
            // / show decrypted 
            document.getElementById("decrypted").style.display = "none"
    
            clearKey()
        }

        document.getElementById("ClearBtn1").onclick = function(){
            localStorage.clear();
        }
        document.getElementById("ClearBtn2").onclick = function(){
            localStorage.clear();
        }

        

        
    
        {% if site.theme_config.forbid_cache_password %}
        function readKey(){
        }
        function setKey(value){
        }
        function clearKey() {
        }
        {% else %}
            function readKey(){
                var key = encid;
                return localStorage.getItem(key)
            }
            function setKey(value){
                var key = encid
                return localStorage.setItem(key,value)
            }
            function clearKey() {
                var key = encid
                localStorage.removeItem(key)
            }
            var cachekey = readKey()
            if(cachekey){
                decrypt(cachekey,true)
            }

        {% endif %}
        
        
    
    }()
    
    </script>
    